<ion-view view-title="Anasayfa">
  <ion-content style="overflow: hidden;" class="background-2">
    <div class="div1">
      <button class="bir animated bounce button-stil">K</button>
      <button class="iki animated bounce button-stil">E</button>
      <button class="uc animated bounce button-stil">L</button>
      <button class="dort animated bounce button-stil">İ</button>
      <button class="bes animated bounce button-stil">M</button>
      <button class="alti animated bounce button-stil">E</button>
    </div>
    <div class="div2 animated bounceInLeft">
      <button class="butonbgColor button-stil">Ü</button>
      <button class="butonbgColor button-stil">R</button>
      <button class="butonbgColor button-stil">E</button>
      <button class="butonbgColor button-stil">T</button>
    </div>
    <div class="div3">
      <a href="#/app/oyun" ng-click="" class="button-game-stil animated fadeInLeft">Oyna</a>
      <a href="#/app/kurallar" class="button-game-stil animated fadeInRight">Kurallar</a>
    </div>
  </ion-content>
</ion-view>
