<ion-view view-title="Kurallar">
  <ion-content style="overflow: hidden;" class="background-2">
    <h3>
      <ion-icon name="logo-game-controller-b" class="koyu mr-2"></ion-icon> Kurallar <ion-icon class="koyu ml-2"
        name="logo-game-controller-b">
      </ion-icon>
    </h3>
    <div class="stil-div">
      <ul>
        <li class="animated fadeInLeftBig">
          Oyun rastgele bir kelime ile başlar ve onun son harfi ile devam eder.
          <hr>
        </li>
        <li class="animated fadeInRightBig">
          Her oyuncu kendisine tanınan 30 saniye ve 3 Hak ile son yazılan
          kelimenin son harfinden kelime üretmelidir.Aksi halde oyunu
          kaybedecektir.
          <hr>
        </li>
        <li class="animated fadeInLeftBig delay-1s">
          Son harfi "ğ" ile biten kelimeler için "g" harfi ile başlayan
          kelimeler kullanabilirsiniz.

        </li>

      </ul>
    </div>
  </ion-content>
</ion-view>
